@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face { 
    font-family: "Mantuan";
    src: url(/fonts/mantuan.ttf);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Georama";
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.topo {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    padding: 10px 0 0 10px;
    background-color: blueviolet;
    color: white;
}

.tituloBiblioteca {
    font-size: 1.6rem;
    outline: none;
}

#containerLogo {
    position: fixed;
    z-index: -1;
    width: 192px;
    height: 164px;
    left: calc(50% - 96px);
    top: calc(50% - 82px);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow:
            1px -1px 0 rgb(250, 250, 250),
            -1px 1px 0 rgb(250, 250, 250),
            3px 3px 0 rgb(240, 240, 240),
            1px 1px 0 rgb(250, 250, 250),
            -1px -1px 0 rgb(250, 250, 250),  
            6px 6px 0 rgb(250, 250, 250);
}

#containerModal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: brown;
    display: none;
    justify-content: center;
    align-items: center;
}

#carregar {
    display: none;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    border-radius: 50%;
    border: 5.5px solid white;
    border-top: 5.5px solid blueviolet;
    animation: spin 0.8s linear infinite;
}

#pesquisar {
    display: none;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: black 3px 3px 3px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

#inputIsbn {
    width: 160px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    font-size: 0.9rem;
    text-align: center;
}

.pesquisarLivro, .esconderPesquisa {
    font-family: "Mantuan";
    font-size: 1.5rem;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    background-color: blueviolet;
    box-shadow: black 1px 1px 1px;
}

#containerLivros {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.item {
    flex-basis: 90%;
    background-color: rgba(250, 250, 250, 0.3);
    margin-top: 10px;
    margin-left: 10px;
}

@media (min-width: 680px) {
    .item {
        flex-basis: 45%;
    }    
}

@media (min-width: 1040px) {
    .item {
        flex-basis: 30%;
    }    
}

.capa {
    display: flex;
    float: left;
    align-items: center;
    width: 90px;
    height: 134px;
}

.capa > img {
    width: 100%;
}

.titulo {
    font-size: 1.4rem;
}

.conteudo {
    margin: 5px 30px 0px 100px;
}

.autores, .categorias {
    font-size: 0.8rem;
    margin-top: 5px;
}

.ferramentas {
    position: relative;
    float: right;
    width: 20px;
    height: 134px;
    background-color: blueviolet;
    overflow: hidden;
    border: none;
    border-radius: 15px 0 0 15px;
    transition: all 0.5s ease;
}

.editarExcluir, .abrirFechar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}

.editarExcluir {
    width: 40px;
    height: 100%;
    margin-left: 5px;
}

.abrirFechar {
    width: 20px;
    height: 100%;
    left: calc(100% - 20px);
}

.botaoEditar, .botaoExcluir {
    font-family: "Mantuan";
    font-size: 1.5rem;
    color: blueviolet;    
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: black 1px 1px 1px;
    transition: all 0.5s ease;
}

.botaoEditar {
    margin-bottom: 5px;
}

.botaoExcluir {
    margin-top: 5px;
}

.editavel:focus {
    outline: none;
    background-color: lightcoral;
}

.botaoAbrir, .botaoFechar {
    font-family: "Mantuan";
    font-size: 1.5rem;
    color: white;
    width: 20px;
    height: 100%;
    background-color: lightcoral;
    border: none;
}

.botaoAbrir {
    display: block;
}

.botaoFechar {
    display: none;
}

#exibirPesquisa {
    font-family: "Mantuan";
    font-size: 2.5rem;
    color: white;
    position: fixed;
    width: 55px;
    height: 55px;
    left: 100%;
    top: 100%;
    transform: translate(-105px, -105px);
    border: none;
    border-radius: 50%;
    background-color: blueviolet;
    box-shadow: black 2px 2px 2px;
}