@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Georama";
    font-size: 16px;
}

ul {
    list-style-type: none;
}

#nome {
    font-size: 1.3rem;
}

#nome:focus {
    outline: none;
}

h2 {
    font-size: 1.3rem;
}

.editavel:focus {
    outline: none;
    background-color: rgb(220, 220, 220)
}

.autores {
    font-size: 0.8rem;
    margin-top: 5px;
}

.categorias {
    font-size: 0.8rem;
}

header {
    position: fixed;
    font-weight: 100;
    padding-top: 8.2px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background: rgba(255, 0, 255, 0.6);
}

#containerLivros {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    flex-basis: 90%;
    margin-top: 10px;
    margin-left: 10px;
}

/*melhorar a regra */
@media (min-width: 680px) {
    .item {
        flex-basis: 45%;
    }    
}

@media (min-width: 1040px) {
    .item {
        flex-basis: 30%;
    }    
}

.capa {
    border: 1px solid black;
    float: left;
    width: 90px;
}

.capa > img {
    width: 100%;
}

.conteudo {
    border: 1px solid black;
    margin-left: 95px;
    margin-right: 25px;
}

.botaoProcurar {
    border: 1px solid black;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input {
    border: 1px solid black;
    width: 110px;
    height: 25px;
}

.pesquisa {
    border: 1px solid black;
    position: fixed;
    transform: translate(-198px, -82px);    
    width: 168px;
    height: 52px;
    top: 100%;
    left: 100%;
}

.botaoEditar, .botaoExcluir {
    border: 1px solid black;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    transition: all 0.5s ease;
}

.botaoEditar {
    margin-bottom: 5px;
}

.botaoExcluir {
    margin-top: 5px;
}

.botaoAbrir, .botaoFechar {
    width: 20px;
    height: 100%;
    font-size: 1rem;
    background-color: transparent;
}

.botaoAbrir {
    display: block;
}

.botaoFechar {
    display: none;
}

.editarExcluir, .abrirFechar {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.editarExcluir {
    width: 40px;
    height: 100%;
    margin-left: 5px;
}

.abrirFechar {
    width: 20px;
    height: 100%;
    left: calc(100% - 20px);
}

.ferramentas {
    border: 1px solid black;
    background:rgba(255, 0, 255, 0.6);
    border-radius: 15px 0 0 15px;
    width: 20px;
    height: 134px;
    z-index: 1;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;
    float: right;
}

.loader {
    position: absolute;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.loader::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background: linear-gradient(blueviolet, purple 40%);
    z-index: -1;
    border-radius: 50%;
    left: -10px;
    top: -10px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}