@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Georama";
    font-size: 16px;
}

ul {
    list-style-type: none;
}

#nome {
    font-size: 1.3rem;
}

#nome:focus {
    outline: none;
}

h2 {
    font-size: 1.3rem;
}

.autores {
    font-size: 0.8rem;
    margin-top: 5px;
}

.categorias {
    font-size: 0.8rem;
}

header {
    position: fixed;
    font-weight: 100;
    padding-top: 8.2px;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background: rgba(255, 0, 255, 0.6);
}

#container {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    flex-basis: 90%;
    margin-top: 10px;
    margin-left: 10px;
}

/*melhorar a regra */
@media (min-width: 680px) {
    .item {
        flex-basis: 45%;
    }    
}

@media (min-width: 1040px) {
    .item {
        flex-basis: 30%;
    }    
}

.capa {
    border: 1px solid black;
    float: left;
    width: 90px;
}

.capa > img {
    width: 100%;
}

.conteudo {
    border: 1px solid black;
    width: calc(100% - 70px);
}

.botaoProcurar {
    border: 1px solid black;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input {
    border: 1px solid black;
    width: 110px;
    height: 25px;
}

.pesquisa {
    border: 1px solid black;
    position: fixed;
    transform: translate(-198px, -82px);    
    width: 168px;
    height: 52px;
    top: 100%;
    left: 100%;
}

.botaoEditar {
    border: 1px solid black;
    position: relative;
    flex-basis: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    right: 40px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}

.botaoExcluir {
    border: 1px solid black;
    position: relative;
    flex-basis: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    right: 40px;
    margin-top: 5px;
    transition: all 0.5s ease;
}

.ferramentas {
    border: 1px solid black;
    background:rgba(255, 0, 255, 0.6);
    border-radius: 15px 0 0 15px;
    width: 20px;
    height: 134px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.5s ease;
    overflow: hidden;
    float: right;
}

.ferramentas:hover {
    width: 70px;
}

.ferramentas:hover .botaoEditar {
    right: 20px;
}

.ferramentas:hover .botaoExcluir {
    right: 20px;
}